<div class="suggestion-list js-suggestion-list">
  {{^emptySuggestions}}
    <ul>
      {{#suggestions}}
      <li class="js-suggestion-item suggestion-item{{#active}} active{{/active}}{{#empty}} empty{{/empty}}" data-src="{{src}}" data-url="{{url}}">
          <div class="suggestion-item-img">
            <img src="{{src}}" style="height:100%;overflow:hidden"/>
          </div>
        </li>
      {{/suggestions}}
      <li class="upload-btn suggestion-item js-upload-btn">
        <div class="suggestion-item-img">
          <svg class="icon-plus" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve">
            <polygon class="st0" points="19,8 11,8 11,0 8,0 8,8 0,8 0,11 8,11 8,19 11,19 11,11 19,11 "/>
          </svg>
        </div>
      </li>
    </ul>
  {{/emptySuggestions}}
</div>
