<div class="js-upload-container upload-container-wrapper">
  <div class="js-progress-bar progress-bar">
    <div class="js-progress progress"></div>
  </div>
  {{#backgroundImage}}
  <img class="upload-background-image" src="{{backgroundImage}}"/>
  {{/backgroundImage}}
  <div class="js-image-upload-wrapper image-upload-wrapper">
    {{^isUploadButtonHidden}}
    <div class="js-upload-button image-upload">
      {{<uploadIcon}}
        {{$classes}}upload-icon--large{{/classes}}
      {{/uploadIcon}}
      {{#titleText}}
      <div class="image-upload-text js-image-upload-text">{{titleText}}</div>
      {{/titleText}}
      {{#subtitleText}}
      <div class="image-upload-subtext js-image-upload-subtext">{{subtitleText}}</div>
      {{/subtitleText}}
    </div>
    {{/isUploadButtonHidden}}
  </div>
</div>
